
<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @restaurant.city %>
</p>

<p>
  <strong>Upvote:</strong>
<span class="likes"><%= @restaurant.upvote.to_i %></span>
</p>

<p>
  <strong>Downvote:</strong>
  <span class="dislikes"><%=  @restaurant.downvote.to_i  %></span>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
